@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,700&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #ffffff;
  color: #212121;
  margin: auto;
  max-width: 1200px;
  font-family: "Roboto";
}

/* ESTILOS INDEX */

/*  HEADER */

.nav {
  display: flex;
  justify-content: center;
}

.site-header {
  display: flex;
  margin: auto;
  border-bottom: 1px solid #ececec;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

/* Logo header */
.logoPrincipal {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: #2196f3;
}

/* navegacion header */
.list-container {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding: 0%;
}

.list-item {
  display: flex;
  font-family: "Roboto";
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  text-align: start;
  margin-right: 50px;
}

.list-item:hover {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

/* contacto header  */
.headercontact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.headercontact:hover {
  fill: #2196f3;
  color: #2196f3;
}
.headercontact a {
  display: flex;
  font-family: "Roboto";
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  margin-right: 50px;
  padding: 15px 0px;
}

.headercontact a:hover {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.icon-sobre {
  margin-right: 10px;
  height: 12px;
  width: 16px;
}

.icon-smarthphone {
  margin-right: 10px;
  height: 16px;
  width: 10px;
}

/* HERO */

.herocontainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  width: 100%;
  background-image: url(../images/hero.jpg);
  background-color: rgba(47, 48, 58, 0.4);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.herocontent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tittlehero {
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.buttonhero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 32px;
  gap: 10px;
  width: 261px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  border: none;
}

/* CUALIDADES */

.qualitiescontainer {
  display: flex;
  justify-content: space-around;
}

.qualitieslist {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  list-style: none;
  justify-content: space-evenly;
}

.qualitiesitem {
  width: 270px;
  height: 150px;
  margin: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}
.icons-qualitiescontainer {
  display: flex;
  justify-content: space-around;
}

.icons-qualitieslist {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  justify-content: space-evenly;
}

.icons-qualitiesitem {
  display: flex;
  width: 270px;
  height: 120px;
  margin: 10px;
  justify-content: space-around;
  align-items: center;
  background: #f5f4fa;
  border-radius: 4px;
}
.icons-qualitiesitem svg {
  display: flex;
  width: 70px;
  height: 70px;
}

.qualitiesitem p {
  text-align: left;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;

  letter-spacing: 0.03em;

  color: #757575;
}

.qualitiesitem h4 {
  text-align: left;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

/* SERVICIOS */

.services {
  display: flex;
  flex-basis: auto;
  justify-content: center;
  flex-wrap: wrap;
}

.services div {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.services div img {
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
}

.tittleservices {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.servicesimg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1173px;
}

.servicesimg img {
  display: flex;
  width: 373.16px;
  height: 323.7px;
}

/* TARJETAS PERFIL */
.ustittle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  width: 100%;
}

.profilecontainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background: #f5f4fa;
}

.cardprofile {
  width: 270px;
  height: 428px;
  border-radius: 0px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 5%;
}

.cardprofile img {
  width: 270px;
  height: 260px;
}

.personname {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.personposition {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.socialprofiles {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  margin: auto;
  padding: 10px;
}

.socialprofiles li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  border-radius: 100%;
}

.socialprofiles li:hover {
  background-color: #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  border-radius: 100%;
}

.icons-socialprofiles {
  width: 20px;
  height: 20px;

  padding: 44px;
  fill: #afb1b8;
}
.icons-socialprofiles:hover {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

/* CLIENTES */

.icons-clientscontainer {
  display: flex;
  justify-content: space-around;
}

.icons-clientslist {
  display: flex;
  flex-flow: row wrap;
  padding: 0;
  justify-content: space-evenly;
}

.icons-clientsitem {
  display: flex;
  width: 170px;
  height: 81px;
  margin: 10px;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.icons-clientsitem:hover {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

.icons-clientsitem svg {
  fill: #afb1b8;
  display: flex;
  width: 70px;
  height: 70px;
  padding: 41px 85px;
}

.icons-clientsitem svg:hover {
  fill: #2196f3;
  display: flex;
  width: 70px;
  height: 70px;
  padding: 41px 85px;
}
/* FOOTER */

.footer {
  display: flex;
  flex-wrap: wrap;
  background: #2f303a;
  padding: 60px 0 47px 0px;
}

.contentfooter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px 20px 0 10%;
}

.socialfooter {
  display: flex;
  flex-basis: 20%;
  flex-direction: column;
  list-style: none;

  margin: 0px 20px 0 10%;
}

.socialfooter h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}

.listsocialfooter {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
}

.listsocialfooter li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
  border-radius: 100%;
}

.listsocialfooter li:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background: #2196f3;
  margin-right: 10px;
  border-radius: 100%;
}

.icons-socialfooter {
  width: 22px;
  height: 22px;
  fill: #ffffff;
}

.footerlogo {
  display: flex;
  flex-wrap: wrap;
  font-family: "Raleway";
  font-style: normal;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.address {
  font-family: "Roboto";
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.list-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0%;
}

.contactfooter {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

/* ESTILOS PORTAFOLIO */

.container {
  max-width: 1200px;
}

.section {
  padding: 94px 0px;
}

.filterportfolio {
  display: flex;
  list-style: none;
  max-width: 1200px;
  justify-content: center;
  margin: auto;
}

.buttonsmainportfolio {
  margin: 8px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  color: #212121;
  background: #f5f4fa;
}

.buttonsmainportfolio:hover {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* PRODUCTOS */

.products {
  display: flex;
  list-style: none;
  max-width: 1200px;
  justify-content: center;
  margin: auto;
}

.cardproducts {
  width: 370px;
  height: 404px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cardproducts img {
  width: 370px;
  height: 294px;
}

.tittleproducts {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: #212121;
  left: calc(50% - 322px / 2 - 400px);
  top: calc(50% - 36px / 2 - 334px);
}

.areaproduct {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.03em;
  color: #757575;
}
